.detail {
    margin: 50px 0 200px;
    flex-direction: row;
}

.detail picture {
    margin-right: 50px;
}

.detail div {
    text-align: left;
    width: 250px;
}

.description {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 30px;
}